.trusty_form_buttons {
	text-align: center;
	button {
		font-size: 1.3rem;
	  margin-bottom: 10px !important;
	}

	@media screen and (max-width: 1256px) {
		button {
			width: 60%;
		}
		
	}
}

.trusty_title {
	font-size: 1.7rem;

}

.trusty_center {
	padding: 0 10px;
	form {
		display: block;
		margin: 0 auto;
	}
}

@font-face {
  font-family: 'Gotham_Pro_Bold';
  src: url('trusty/fonts/GothamProBold/GothamProBold.woff');
  // src:	url('trusty/fonts/GothamProBold/GothamProBold.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProBold/GothamProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro';
  src: url('trusty/fonts/GothamProLight/GothamProLight.woff');
  // src:	url('trusty/fonts/GothamProLight/GothamProLight.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProLight/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


br.desk {
	display: none;
}


@media screen and (min-width: 750px) {

		br.mob {
		display: none;		
	}

	br.desk {
		display: inline-block;
	}

}
